<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
    <ul>
        <li><p><a href="{{http://vldb.org/pvldb/vol14/p1730-xiao.pdf}}">{{Optimizing Fitness-For-Use of Differentially Private Linear Queries.}}</a><br>
        <b>Yingtai Xiao</b>, Zeyu Ding, Yuxin Wang, Danfeng Zhang and Daniel Kifer.<br>
        <e>Proc. of 47th International Conference on Very Large Data Bases (VLDB 2021)</e>
        </p></li>
        <li><p><a href="{{http://vldb.org/pvldb/vol14/p1730-xiao.pdf}}">{{Optimizing Fitness-For-Use of Differentially Private Linear Queries.}}</a></p></li>
        <li><p><a href="{{http://vldb.org/pvldb/vol14/p1730-xiao.pdf}}">{{Optimizing Fitness-For-Use of Differentially Private Linear Queries.}}</a></p></li>
    {% endif %}
    </ul>
  </div>
</div>
