<div class="row">
  <div>
    <h3 class="fw-bold pb-3 mb-1">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
    <ul>
        <li><p><a href="https://arxiv.org/abs/2305.08175">An Optimal and Scalable Matrix Mechanism for Noisy Marginals under Convex Loss Functions.</a><br>
        <b>Yingtai Xiao</b>, Guanlin He, Danfeng Zhang, Daniel Kifer<br>
        <i>Thirty-seventh Conference on Neural Information Processing Systems (NeurIPS 2023) <b>[Spotlight]</b></i>
        </p></li>
        <li><p><a href="https://arxiv.org/abs/2212.00135">Answering Private Linear Queries Adaptively using the Common Mechanism.</a><br>
        <b>Yingtai Xiao</b>, Guanhong Wang, Danfeng Zhang, Daniel Kifer<br>
        <i>Proc. of 49th International Conference on Very Large Data Bases (VLDB 2023)</i>
        </p></li>
        <li><p><a href="https://link.springer.com/article/10.1007/s00778-022-00728-2">Free gap estimates from the exponential mechanism, sparse vector, noisy max and related algorithms.</a><br>
        Zeyu Ding, Yuxin Wang, <b>Yingtai Xiao</b>, Guanhong Wang, Danfeng Zhang and Daniel Kifer <br>
        <i>The VLDB Journal 2022</i>
        </p></li>
        <li><p><a href="http://vldb.org/pvldb/vol14/p1730-xiao.pdf">Optimizing Fitness-For-Use of Differentially Private Linear Queries.</a><br>
          <b>Yingtai Xiao</b>, Zeyu Ding, Yuxin Wang, Danfeng Zhang and Daniel Kifer.<br>
          <i>Proc. of 47th International Conference on Very Large Data Bases (VLDB 2021)</i>
          </p></li>
        <li><p><a href="http://www.cse.psu.edu/~dbz5017/pub/ccs21.pdf">DPGen: Automated Program Synthesis for Differential Privacy.</a><br>
          Wang, Yuxin, Zeyu Ding, <b>Yingtai Xiao</b>, Daniel Kifer, and Danfeng Zhang.<br>
          <i>Proc. of ACM Conference on Computer and Communications Security (CCS 2021)</i>
          </p></li>
        <li><p><a href="https://ojs.aaai.org//index.php/AAAI/article/view/5931">Diversified Interactive Recommendation with Implicit Feedback.</a><br>
          Yong Liu, <b>Yingtai Xiao</b>, Qiong Wu, Chunyan Miao, Juyong Zhang, Binqiang Zhao, Haihong Tang.<br>
          <i>The Thirty-Fourth AAAI Conference on Artificial Intelligence (AAAI 2020)</i>
          </p></li>
    </ul> 
    {% endif %}
  </div>
</div>
