---
layout: default
---

<div class="row">
  <h3 class="fw-bold border-bottom mb-5">About Me</h3>
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/self.jpg" alt="Home" width="50%">
  </div>
</div>


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Activities</h3>
    <ul>
        <li><p>
          Reviewer of ACM Transactions on Database Systems (TODS), 2022
          </p></li>
    </ul> 
  </div>
</div>

<!-- {% include publications.html %} -->

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->


