---
layout: default
---

<div class="row">
  <h3 class="fw-bold pb-3 mb-1">About Me</h3>
  <div class="col-md-2">
    <img src="{{ site.github.url }}/assets/img/Yingtai.jpg" alt="Home" width="100%">
  </div>
  <div class="col-md-6">
    {{ content }}
  </div>
</div>


<div class="row">
  <div>
    <h3 class="fw-bold pb-3 mb-1">Activities</h3>
    <ul>
        <li><p>
        One paper got accepted at VLDB, March 2023
        </p></li>
        <li><p>
        Finished Internship at JD.com, built a three-party multiparty computation framework for deep learning, Summer 2022
        </p></li>
        <li><p>
          Reviewer of ACM Transactions on Database Systems (TODS), 2022
        </p></li>
        <li><p>
            Head teaching assistant of CMPSC461 Programming Language Concepts, Fall 2021
        </p></li>
        <li><p>
          Gave a talk at International Conference on Very Large Data Bases (VLDB), August 2021
          </p></li>
    </ul> 
  </div>
</div>

<!-- {% include publications.html %} -->

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->


